
*{
    margin: 0px;
    padding: 0px;
}
.container{
    max-width: 1300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.img1{
    position: absolute;
    top: 0;
    left: 0;
}
.img2{
    position: absolute;
    right: 0;
    top: 0px;
}
.container__img{
    position: relative;
    width: 100%;
    height: 612px;
    overflow: hidden;
}
.img_down{
    position: absolute;
    top: -100px;
    left :0px;
}